:root {
  --blue: #250048;
  --pink: #f9386a;
  --gray: #eeeeef;
  --light-gray: #f3f4f4;
  --light-light-gray: #fafafa;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.content {
  border: 1px solid var(--light-light-gray);
  box-shadow: 0 7px 14px 0 var(--light-gray);
  height: 100%;
  margin: 2em auto;
  max-width: 600px;
  padding: 2em;
  width: 90%;
}

.header,
.footer {
  background-color: var(--light-gray);
  text-align: center;
  width: 100%;
}

.header {
  h1 {
    font-size: 22px;
  }
}

.footer {
  font-size: 13px;

  p {
    margin: 7px;
  }
}

.form {
  display: block;
}

.search {
  border: 1px solid var(--gray);
  padding: 1em;
  font-size: 14px;
  display: block;
  width: 100%;

  &:focus {
    border: 1px solid var(--blue);
    outline: none;
  }
}

.selected {
  background-color: var(--pink);
  color: #fff;
  display: inline-block;
  margin: 0 2px;
  padding: 0 2px;
}

.cidades {
  list-style: none;
  margin: 1em 0;
  padding: 0;
  overflow: auto;
  max-height: 50vh;

  li {
    border: 1px solid var(--gray);
    padding: 0.5em 1em;
    transition: text-indent 0.3s, border 0.3s;

    & + li {
      margin-top: 0.7em;
    }

    &:hover {
      border: 1px solid var(--blue);
      text-indent: 5px;
    }
  }
}
